{
    "send": [
        "127.0.0.1:57120"
    ],
    "debug": true,
    "authentication": "snduser:sound",
    "load": "/home/sndadmin/dlsp/OStageC/sessions/DestraLSP-Main.json",
    "remote-root": "/home/sndadmin/dlsp/OStageC",
    "client-options": [
        "clientSync=0"
    ],
    "no-gui": true,
    "recentSessions": [
        "/home/sndadmin/dlsp/OStageC/sessions/DestraLSP-Main.json"
    ]
}